# 运行时文件
index.html
posts/*.html
config/config.php
*.lock
.user.ini
.storage/

# 用户上传的资源
assets/images/favicon_*.png
assets/images/favicon_*.ico
assets/images/favicon_*.svg
assets/music/*.mp3

# 备份文件
*.backup*
*.old
*.bak

# 系统
.DS_Store
Thumbs.db
.git
.svn

# IDE
.idea/
.vscode/
*.swp
*.swo

# 打包临时目录
/tmp/
